name: Deploy to Reg.ru

on:
  push:
    branches:
      - master

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload files via FTP
        uses: samkirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # Для Reg.ru путь обычно начинается сразу с www/
          server-dir: /
          # Указываем вашу папку с файлами
          local-dir: ./site/
          # Явно указываем протокол
          protocol: ftp